<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Booking for {{ full_name }}</title>
    </head>
    <body>
        <div style="margin-top: 1rem;">
            <h3 style="font-weight: bold; text-align: center;">New Booking!</h3>
            <div style="width: 360px; margin: 40px auto; border-radius: 5px; border: 1px solid #ccc; padding: 1rem;">
                <ul style="list-style: none; padding-left: 0; margin-bottom: 0;">
                    
                    <li style="margin-bottom: 1.5rem;">
                        <div style="margin-left: 1.1rem;">
                            <h4 style="font-weight: bold; margin-top: 0; margin-bottom: 0.5rem;">Full name</h4>
                            <p style="margin: 0; font-size: 14px;">{{ full_name }}</p>
                        </div>
                    </li>
                    
                    <li style="margin-bottom: 1.5rem;">
                        <div style="margin-left: 1.1rem;">
                            <h4 style="font-weight: bold; margin-top: 0; margin-bottom: 0.5rem;">Email</h4>
                            <p style="margin: 0; font-size: 14px;">{{ email }}</p>
                        </div>
                    </li>
                    
                    <li style="margin-bottom: 1.5rem;">
                        <div style="margin-left: 1.1rem;">
                            <h4 style="font-weight: bold; margin-top: 0; margin-bottom: 0.5rem;">Phone number</h4>
                            <p style="margin: 0; font-size: 14px;">{{ phone_number }}</p>
                        </div>
                    </li>
                    
                    <li style="margin-bottom: 1.5rem;">
                        <div style="margin-left: 1.1rem;">
                            <h4 style="font-weight: bold; margin-top: 0; margin-bottom: 0.5rem;">Issue</h4>
                            <p style="margin: 0; font-size: 14px;">{{ issues }}</p>
                        </div>
                    </li>
                    
                    <li style="margin-bottom: 1.5rem;">
                        <div style="margin-left: 1.1rem;">
                            <h4 style="font-weight: bold; margin-top: 0; margin-bottom: 0.5rem;">Message</h4>
                            <p style="margin: 0; font-size: 14px;">{{ message }}</p>
                        </div>
                    </li>
                    
                </ul>
            </div>
            <div style="width: 400px; margin: 40px auto; text-align: center;">
                <p style="margin: 0; font-size: 12px;">EXCSERPRO &copy; 2023, All Rights Reserved</p>
            </div>
        </div>
    </body>
</html>
