{% extends "main/base.html" %}
{% load static %}
{% block content %}
<style>
    .blog {
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        border-radius: 15px;
        padding: 25px 15px;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 1.2rem;
    }

    .blog .blog-h {
        margin-bottom: 1.4rem;
        font-weight: bold;
    }

    .blog .blog-p {
        font-size: 1.2rem !important;
        margin-bottom: 1.3rem;
    }

    .blog .read {
        font-size: 0.9rem;
        color: #339C97;
    }

    .blog .blog-img {
        border-radius: 20px;
    }

    .blog-btn {
        border: 2px solid #339C97;
        border-color: #339C97;
        border-radius: 20px;
        color: black;
        margin-top: 15px !important;
        margin-left: 5px !important;
        background-color: transparent;
        font-weight: 500;
        font-size: 1rem;
        padding: 0.6rem 1.4rem;
    }

    .blog-btn-option {
        border: 2px solid blue;
        border-color: blue;
        border-radius: 20px;
        color: black;
        margin-top: 15px !important;
        margin-left: 5px !important;
        background-color: transparent;
        font-weight: 500;
        font-size: 1rem;
        padding: 0.6rem 1.4rem;
    }

    .blog-btn:hover {
        color: white;
        background-color: #339C97;
        border-color: #339C97;
    }

    .blog-btn-option:hover {
        color: white;
        background-color: red;
        border-color: red;
    }

    .create-button {
        color: black;
        font-weight: bold;
        background-color: #f15722;
        display: block;
        margin: 15px auto;
        max-width: 150px;
    }

    .bg-exc {
        background-color: #f15722;
        color: white;
    }

    .bg-exc-outline {
        border: 1px solid #f15722;
        background-color: transparent;
        color: #f15722;
    }

    .paginate {
        display: block;
        margin: 40px auto;
        width: 370px;
    }
</style>

<div class="container">
    <div class="header-blog">
        <div style="align-content: center;" class="mb-5">
            <h1 class="text-center gordita-bold">Browse <span class="gordita-bold" style="color: #f15722;">Blog</span></h1>
        </div>

        {% if user.is_superuser %}
            <div>
                <a class="create-button btn" href="{% url 'post-create' %}">CREATE POST</a>
            </div>
        {% endif %}

        {% for post in posts %}
            <div class="row blog">
                <div style="position: static;" class="col-md-6 mb-3">
                    <h4 class="blog-h mb-2">{{ post.title }}</h4>
                    <div class="border border-top-0 border-left-0 border-right-0 pb-2" style="display: flex; align-items: center; margin-bottom: 20px;">
                        <img style="margin-right: 10px; border-radius: 50%;" width="30" height="30" src="{{ post.author.profile.image.url }}" alt="author" loading="lazy">
                        <span style="font-size: 0.9rem;" class="gordita-regular date">{{ post.author.username }}<span style="font-weight:700;font-size:larger; margin: 4px;"> &centerdot; </span>{{ post.date_posted|date:"F d, Y" }}</span>
                        {% if user.is_superuser %}
                            <div style="margin-left: auto;">
                                <a style="display: block;" href="{% url 'post-update' post.id %}" class="btn btn-sm btn-outline-primary rounded mr-1 mb-1">EDIT</a>
                                <a style="display: block;" href="{% url 'post-delete' post.id %}" class="btn btn-sm btn-danger rounded mr-1">DELETE</a>
                            </div>
                        {% endif %}
                    </div>
                    <p class="blog-p">{{ post.caption }}</p>
                </div>
                <div class="col-md-6 mb-3">
                    <img src="{{ post.thumbnail.url }}" class="img-fluid blog-img">
                </div>
            </div>
        {% endfor %}
    </div>
</div>

    {% if is_paginated %}
        <div class="paginate">

            {% if page_obj.has_previous %}
                <a class="btn btn-sm bg-exc-outline mb-4" href="?page=1">First</a>
                <a class="btn btn-sm bg-exc-outline mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a class="btn btn-sm bg-exc mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-sm bg-exc-outline mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a class="btn btn-sm bg-exc-outline mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class="btn btn-sm bg-exc-outline mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}

        </div>
    {% endif %}

{% endblock content %}