{% extends "main/base.html" %}
{% block content %}
    <style>
        .wrapper-forms {
            background-color: white;
            width: 400px;
            margin: 40px auto;
            padding: 20px;
        }
        .form-group {
            display: flex;
            justify-content: center;
        }

        .form-group button,
        .form-group a {
            margin: 0 10px; /* Add some spacing between the buttons */
        }
    </style>
    <div class="wrapper-forms">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete</legend>
                {% if object.title %}
                    <h2>Are you sure you want to delete the post "{{ object.title }}"</h2>
                {% else %}
                    <div class="container">
                        <img class="img-fluid" src="{{ object.image.url }}">
                    </div>
                {% endif %}
            </fieldset>
            <div class="form-group">
                {% if object.title %}
                <button class="btn btn-danger" type="submit">Yes, Delete</button>
                <a class="btn btn-outline-secondary" href="{% url 'blog-home' %}">Cancel</a>
                {% else %}
                    <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
                    <a class="btn btn-outline-secondary" href="{% url 'Gallery' %}">Cancel</a>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock content %}