{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="text-center mb-4 gordita-bold">Login</legend>
            {{ form|crispy }}
        </fieldset>
        <div style="display: flex;" class="form-group">
            <button class="btn btn-outline-info" type="submit">Login</button>
            <small style="margin: auto 5px;" class="text-muted ml-2">
                <a href="{% url 'register' %}">
                    Register
                </a>
                <span style="margin: 1px;">
                    |
                </span>
                <a href="#lost">
                    Lost your password
                </a>
            </small>
        </div>
    </form>
{% endblock content %}