{% extends "main/base.html" %}
{% load static %}
{% block content %}
	<style>
		.full-width-bg {
			background-image: url("{% static 'main/images/auto.webp' %}");
		}

		.main h4 {
			font-weight: bold;
		}
	</style>
	<div class="full-width-bg mb-5">
	    <h4 style="background: rgba(0, 0, 0, 0.5);" class="colored-bottom-border gordita-regular">EXCELLENT SERVICE PROVIDER</h4>
	    <h1 style="background: rgba(0, 0, 0, 0.5);" class="gordita-bold">ABOUT US</h1>
	</div>
	<h2 class="gordita-bold text-center mb-5">About Us</h2>
	<div class="container">
		<div class="row">
			<div class="col-md-6 mb-3">
				<img class="img-fluid rounded" src="{% static 'main/images/about.jpg' %}" alt="About Us" />
			</div>
			<div class="col-md-6 main">
				<h4>OUR VISION</h4>
				<p>To be one of the leading sources of Auto Electrical Solutions in Africa.</p>
				<h4>MISSION</h4>
				<p>To serve and provide our customers with quality & service second to no-one. Ensure that all components that are repaired or supplied are of the best quality. Provide an efficient and professional service, reinforced by stringent quality controls. Develop and train our staff to achieve personal development by using the resources at its disposal efficiently. Provide a safe and pleasant work environment, encouraging participation and growth, mutual respect, dignity and job satisfaction.</p>
				<h4>OBJECTIVES</h4>
				<p>To get involved in job creation of our people, ensuring that we fight poverty for the purpose of attaining prosperity. To search and acquire contract work timeously. Contribute to the development of our rainbow nation. To be recognized as a highly competitive black-owned company in South Africa</p>
				<h4>GROWTH</h4>
				<p>As part of our future growth strategy, we plan to use every opportunity to grow our company. We also plan to introduce female auto electricians as part of our business.</p>
				<h4>COMPANY STRUCTURE</h4>
				<p>The Company owners are responsible for the strategic direction of the company. The company has Directors who are hands-on, multiple years of experience in auto electrical. Appointments are based on experience, knowledge and competency.</p>
				<h4>BBBEE and Associations</h4>
				<p>The company is also proudly a level 1 BBBEE contributor with a recognised procurement level of 135%.</p>
			</div>
		</div>
	</div>
{% endblock content %}