{% extends "main/base.html" %}
{% load static %}
{% block content %}
	<style>
		.full-width-bg {
			background-image: url("{% static 'main/images/auto.png' %}");
		}

	    .create-button {
	        color: black;
	        font-weight: bold;
	        background-color: #f15722;
	        display: block;
	        margin: 15px auto;
	        max-width: 150px;
	    }

		.bg-exc {
			background-color: #f15722;
			color: white;
		}

		.bg-exc-outline {
			border: 1px solid #f15722;
			background-color: transparent;
			color: #f15722;
		}

		.paginate {
			display: block;
			margin: 40px auto;
			width: 370px;
		}
	</style>

	<div class="full-width-bg mb-5">
	    <h4 style="background: rgba(0, 0, 0, 0.5);" class="colored-bottom-border gordita-regular">EXCELLENT SERVICE PROVIDER</h4>
	    <h1 style="background: rgba(0, 0, 0, 0.5);" class="gordita-bold">GALLERY</h1>
	</div>

    {% if user.is_superuser %}
        <div>
            <a class="create-button btn" href="{% url 'Gallery-create' %}">UPLOAD IMAGE</a>
        </div>
    {% endif %}

	<div class="container">
		<div class="row">
			{% for object in object_list %}
				<div {% if user.is_superuser %}onclick="location.href='{% url 'Gallery-delete' object.pk %}';"{% endif %} class="col-md-3 mb-3">
					<img class="img-fluid rounded" src="{{ object.image.url }}" loading="lazy">
				</div>
			{% endfor %}
		</div>
	</div>

	{% if is_paginated %}
		<div class="paginate">

			{% if page_obj.has_previous %}
				<a class="btn btn-sm bg-exc-outline mb-4" href="?page=1">First</a>
				<a class="btn btn-sm bg-exc-outline mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
			{% endif %}

			{% for num in page_obj.paginator.page_range %}
				{% if page_obj.number == num %}
					<a class="btn btn-sm bg-exc mb-4" href="?page={{ num }}">{{ num }}</a>
					{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
					<a class="btn btn-sm bg-exc-outline mb-4" href="?page={{ num }}">{{ num }}</a>
				{% endif %}
			{% endfor %}

			{% if page_obj.has_next %}
				<a class="btn btn-sm bg-exc-outline mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
				<a class="btn btn-sm bg-exc-outline mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
			{% endif %}

		</div>
	{% endif %}

{% endblock content %}