{% extends "main/base.html" %}
{% load static %}
{% block content %}
	<style>
		.full-width-bg {
			background-image: url("{% static 'main/images/auto.png' %}");
		}
	</style>
	<div class="full-width-bg mb-5">
	    <h4 style="background: rgba(0, 0, 0, 0.5);" class="colored-bottom-border gordita-regular">EXCELLENT SERVICE PROVIDER</h4>
	    <h1 style="background: rgba(0, 0, 0, 0.5);" class="gordita-bold">The Source of <span class="colored-bottom-border gordita-bold" id="intro" style="color: #f15722;">Auto Electrical Solutions</span></h1>
	</div>

	<div class="text-center mb-5">
		<div>
			<h1 class="mb-3 gordita-bold">Trusted By</h1>
			<h3 class="gordita-regular colored-bottom-border">Industry Leaders</h3>
		</div>
		<div>
			<img height="200px" width="200px" class="img-fluid" src="{% static 'main/images/retail-motor-industry-organisation-rmi-vector-logo.svg' %}">
			<img height="200px" width="200px" class="img-fluid" src="{% static 'main/images/motor-industry-workshop-association-miwa-vector-logo.svg' %}">
		</div>
		<div>
			<div style="width: 80vw; margin: 40px auto;">
				<h2 class="gordita-regular mb-2"> We Are The <span class="gordita-bold">Orthopedic Surgeons</span> of Auto Electrical & Mechanical Solutions</h2>
			</div>
			<div style="width: 89vw; text-align: left; border-left: 2px solid #f15722 !important; border-radius: 1%;" class="container-fluid mb-5 ml-3 p-2">
				<h4 class="gordita-regular">We pride ourselves on being the orthopedic surgeons of the automotive world. Just like skilled surgeons, we diagnose and treat your vehicle's electrical and mechanical issues with precision and expertise. Our team of dedicated professionals is committed to providing top-notch solutions, ensuring your vehicle stays in optimal health. From complex repairs to routine maintenance, trust us to deliver unparalleled care and get your wheels back on the road with utmost confidence. Experience the difference with our specialized automotive expertise – where your car is our priority.</h4>
			</div>
			<div style="margin-bottom: 60px !important">
				<img class="img-fluid" src="{% static 'main/images/Products.png' %}">
			</div>
			<div style="width: 80vw; margin: 40px auto;">
				<h2 class="gordita-regular mb-3"> We’re The Last <span class="gordita-bold">Mechanical Company</span> You Will Have To Hire</h2>
				<a href="{% url 'Services' %}">
					<h3 class="gordita-regular colored-bottom-border">See Our Services &#8594;</h3>
				</a>
			</div>
		</div>
	</div>
{% endblock content %}
