{% extends "main/base.html" %}
{% load static %}
{% block content %}
	<style>
		.full-width-bg {
			background-image: url("{% static 'main/images/reception.webp' %}");
		}

        section {
            padding: 2rem 20%;
        }
        
        section:nth-child(2n) {
            background: #f15722;
            color: white;
            clip-path: polygon(0 3%, 100% 0, 100% 97%, 0 100%);
            padding: 2rem 20%;
        }
        
        section a {
            text-decoration: none;
        }

        .our-services {
            margin: 0;
            font: 20px/2.2 system-ui;
        }
        .our-services i {
            font-size: 30px;
            border: 1px solid white;
            padding: 11px;
            border-radius: 50%;
            margin: 15px auto;
        }
	</style>

	<div class="full-width-bg mb-5">
	    <h1 style="background: rgba(0, 0, 0, 0.5);" class="gordita-bold mb-5">Our Services</h1>
	    <h4 style="background: rgba(0, 0, 0, 0.5);" class="colored-bottom-border gordita-regular">AUTO ELECTRICAL & MECHANICAL</h4>
	</div>
    
    <div class="our-services">
        <section>
            <i class="fa-solid fa-car"></i>
            <a href="{% url 'Contact' %}">
                <h4 class="gordita-bold">Starter Repair</h4>
            </a>
            <p>Expert starter repair and maintenance services to get you back on the road in no time.</p>
        </section>
        <section>
            <i class="fa-solid fa-car"></i>
            <a href="{% url 'Contact' %}">
                <h4 class="gordita-bold">Alternator Repairs</h4>
            </a>
            <p>Efficient alternator repair services to keep your vehicle's electrical system in top shape.</p>
        </section>
        <section>
            <i class="fa-solid fa-car"></i>
            <a href="{% url 'Contact' %}">
                <h4 class="gordita-bold">Wiring & Rewinding</h4>
            </a>
            <p>Specialized wiring and rewinding solutions for a reliable and safe electrical system.</p>
        </section>
        <section>
            <i class="fa-solid fa-car"></i>
            <a href="{% url 'Contact' %}">
                <h4 class="gordita-bold">Auto Electrical Spares</h4>
            </a>
            <p>Quality auto electrical spares available to keep your vehicle running smoothly.</p>
        </section>
        <section>
            <i class="fa-solid fa-car"></i>
            <a href="{% url 'Contact' %}">
                <h4 class="gordita-bold">Battery Testing & Charging</h4>
            </a>
            <p>Professional battery testing and charging services for optimal battery performance.</p>
        </section>
        <section>
            <i class="fa-solid fa-car"></i>
            <a href="{% url 'Contact' %}">
                <h4 class="gordita-bold">Car Service (Minor/Major)</h4>
            </a>
            <p>Comprehensive car service, from minor to major, to ensure your vehicle's peak performance.</p>
        </section>
        <section>
            <i class="fa-solid fa-car"></i>
            <a href="{% url 'Contact' %}">
                <h4 class="gordita-bold">Engine Overhaul</h4>
            </a>
            <p>Skilled engine overhaul services to revitalize your vehicle's power and efficiency.</p>
        </section>
        <section>
            <i class="fa-solid fa-car"></i>
            <a href="{% url 'Contact' %}">
                <h4 class="gordita-bold">Gearbox Repairs</h4>
            </a>
            <p>Expert gearbox repairs to maintain smooth gear transitions and extend the life of your transmission.</p>
        </section>
        <section>
            <i class="fa-solid fa-car"></i>
            <a href="{% url 'Contact' %}">
                <h4 class="gordita-bold">Clutch Repairs</h4>
            </a>
            <p>Specialized clutch repairs to ensure precise control and optimal driving experience.</p>
        </section>
        <section>
            <i class="fa-solid fa-car"></i>
            <a href="{% url 'Contact' %}">
                <h4 class="gordita-bold">Suspension Repairs</h4>
            </a>
            <p>Efficient suspension repairs for a smooth and comfortable ride on any road.</p>
        </section>
        <section>
            <i class="fa-solid fa-car"></i>
            <a href="{% url 'Contact' %}">
                <h4 class="gordita-bold">Car Diagnosis</h4>
            </a>
            <p>Advanced car diagnostic services to pinpoint issues and provide precise solutions for your vehicle.</p>
        </section>
    </div>
{% endblock content %}