{% extends "main/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
	<style>
		.full-width-bg {
			background-image: url("{% static 'main/images/auto.png' %}");
		}
		
		.content-section {
		  background: #ffffff;
		  padding: 10px 20px;
		  border: 1px solid #dddddd;
		  border-radius: 3px;
		  margin-bottom: 20px;
		}
		
		.account-img {
		  height: 80px;
		  width: 80px;
		  margin-right: 20px;
		  margin-bottom: 16px;
		}

		.modal-title {
			font-weight: bold;
		}

		.card {
			padding: 1rem;
			border-radius: 7px;
			margin: 40px auto !important;
			text-align: center;
			width: 20rem !important;
			box-shadow: 0 1rem 3rem rgba(0, 0, 0, .20) !important;
		}

		.time {
			font-size: 11px;
			margin-bottom: 0 !important;
		}

		.card-text {
			font-size: 18px !important;
		}

		.account img {
			width: 60px;
			margin: 20px auto !important;
			display: block;
			border-radius: 50%;
		}

		.account h6 {
			font-weight: bold;
		}

		.account p {
			font-size: 15px;
		}
	</style>
	<div class="full-width-bg mb-5">
	    <h4 style="background: rgba(0, 0, 0, 0.5);" class="colored-bottom-border gordita-regular">EXCELLENT SERVICE PROVIDER</h4>
	    <h1 style="background: rgba(0, 0, 0, 0.5);" class="gordita-bold">TESTIMONIALS</h1>
	</div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
		    <form method="POST">
		        {% csrf_token %}
	            <div class="modal-content">
	                <div class="modal-header">
	                    <h5 class="modal-title" id="exampleModalLabel">Leave a review*</h5>
	                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                        <span aria-hidden="true">&times;</span>
	                    </button>
	                </div>
	                <div class="modal-body">
		                <div class="media">
		                	<img class="rounded-circle account-img" src="{% if user.is_authenticated %} {{ user.profile.image.url }} {% else %} /media/default.png {% endif %}">
		                	<div class="media-body">
						        <fieldset class="form-group">
						            {{ form|crispy }}
						        </fieldset>
		                	</div>
		                </div>
	                </div>
	                <div class="modal-footer">
	                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
	                    <button class="btn btn-primary" type="submit">Post</button>
	                </div>
	            </div>
	        </form>	
        </div>
    </div>
	<div class="container">
		<h4 class="mb-3 gordita-bold">Quality in a service or product is not what you put into it. It is what the customer gets out of it. Please, leave us your review.</h4>
		<button style="font-weight: 500; background-color: #f15722; font-size: 1rem;" type="button" class="btn mb-5 mt-5" data-toggle="modal" data-target="#exampleModal">Leave us a review</button>
	    {% for comment in testimonals %}

			<div class="card">
				<p class="text-center time">{{ comment.date_posted|date:"F d, Y" }}</p>
				<div class="card-body">
					<p class="card-text">"{{ comment.comment }}"</p>
				</div>
				<div class="account">
					<img src="{{ comment.author.profile.image.url }}">
					<h6>{{ comment.author.username }}</h6>
					<p>{% if comment.author.is_superuser %}Admin{% else %}Client{% endif %}</p>
				</div>
			</div>

        {% endfor %}
    </div>
{% endblock content %}