footer {
    clip-path: polygon(0 3%, 100% 0, 100% 97%, 0 100%);
    background-color: #f15722;
    width: 100%;
    padding: 4rem 5rem;
    color: white;
}

.head {
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    border-bottom: 1px solid white;
    margin-bottom: 3rem;
}

.col-md-6:nth-child(1) h5 {
    font-weight: bold;
    text-align: center;
}

.col-md-6:nth-child(1) p {
    font-size: 13px;
}

footer i {
    margin-top: 1rem;
    margin-right: 1rem;
}

footer .media-body p {
    padding-top: 0.7rem;
    font-size: 14px;
    font-weight: bold;
}

.section-f {
    background-color: white;
    color: black;
    width: 100%;
    
}

.section-f img {
    display: block;
    width: 200px;
    margin: 25px auto;
}

.section-f p {
    text-align: center !important;
    font-size: 12px;